ul.lst-kix_a3x4z9bmtv2g-8 {
    list-style-type: none
}

ul.lst-kix_a3x4z9bmtv2g-6 {
    list-style-type: none
}

ul.lst-kix_a3x4z9bmtv2g-7 {
    list-style-type: none
}

ul.lst-kix_a3x4z9bmtv2g-4 {
    list-style-type: none
}

ul.lst-kix_a3x4z9bmtv2g-5 {
    list-style-type: none
}

ul.lst-kix_a3x4z9bmtv2g-2 {
    list-style-type: none
}

ul.lst-kix_a3x4z9bmtv2g-3 {
    list-style-type: none
}

ul.lst-kix_a3x4z9bmtv2g-0 {
    list-style-type: none
}

.lst-kix_dyvtpffy2mf0-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_a3x4z9bmtv2g-1 {
    list-style-type: none
}

.lst-kix_hsimphxep2jd-0>li:before {
    content: "\0025cf   "
}

.lst-kix_dyvtpffy2mf0-6>li:before {
    content: "\0025cf   "
}

.lst-kix_dyvtpffy2mf0-8>li:before {
    content: "\0025a0   "
}

.lst-kix_hsimphxep2jd-1>li:before {
    content: "\0025cb   "
}

.lst-kix_hsimphxep2jd-2>li:before {
    content: "\0025a0   "
}

.lst-kix_dyvtpffy2mf0-5>li:before {
    content: "\0025a0   "
}

.lst-kix_hsimphxep2jd-3>li:before {
    content: "\0025cf   "
}

.lst-kix_hsimphxep2jd-4>li:before {
    content: "\0025cb   "
}

.lst-kix_a3x4z9bmtv2g-1>li:before {
    content: "\0025cf   "
}

.lst-kix_a3x4z9bmtv2g-2>li:before {
    content: "\0025cf   "
}

ul.lst-kix_hsimphxep2jd-6 {
    list-style-type: none
}

.lst-kix_hsimphxep2jd-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_hsimphxep2jd-5 {
    list-style-type: none
}

.lst-kix_hsimphxep2jd-6>li:before {
    content: "\0025cf   "
}

.lst-kix_hsimphxep2jd-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_hsimphxep2jd-8 {
    list-style-type: none
}

ul.lst-kix_hsimphxep2jd-7 {
    list-style-type: none
}

ul.lst-kix_hsimphxep2jd-2 {
    list-style-type: none
}

.lst-kix_hsimphxep2jd-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_hsimphxep2jd-1 {
    list-style-type: none
}

ul.lst-kix_hsimphxep2jd-4 {
    list-style-type: none
}

.lst-kix_a3x4z9bmtv2g-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_hsimphxep2jd-3 {
    list-style-type: none
}

ul.lst-kix_hsimphxep2jd-0 {
    list-style-type: none
}

ul.lst-kix_3kaf5kkuswwg-8 {
    list-style-type: none
}

ul.lst-kix_3kaf5kkuswwg-1 {
    list-style-type: none
}

ul.lst-kix_3kaf5kkuswwg-0 {
    list-style-type: none
}

ul.lst-kix_3kaf5kkuswwg-3 {
    list-style-type: none
}

ul.lst-kix_3kaf5kkuswwg-2 {
    list-style-type: none
}

ul.lst-kix_3kaf5kkuswwg-5 {
    list-style-type: none
}

ul.lst-kix_3kaf5kkuswwg-4 {
    list-style-type: none
}

ul.lst-kix_3kaf5kkuswwg-7 {
    list-style-type: none
}

ul.lst-kix_3kaf5kkuswwg-6 {
    list-style-type: none
}

.lst-kix_dyvtpffy2mf0-0>li:before {
    content: "\0025cf   "
}

.lst-kix_dyvtpffy2mf0-1>li:before {
    content: "\0025cb   "
}

.lst-kix_dyvtpffy2mf0-2>li:before {
    content: "\0025a0   "
}

.lst-kix_dyvtpffy2mf0-4>li:before {
    content: "\0025cb   "
}

.lst-kix_dyvtpffy2mf0-3>li:before {
    content: "\0025cf   "
}

.lst-kix_3kaf5kkuswwg-8>li:before {
    content: "\0025a0   "
}

.lst-kix_mpgz11boyjnk-0>li:before {
    content: "\0025cf   "
}

.lst-kix_mpgz11boyjnk-1>li:before {
    content: "\0025cb   "
}

.lst-kix_mpgz11boyjnk-3>li:before {
    content: "\0025cf   "
}

.lst-kix_mpgz11boyjnk-2>li:before {
    content: "\0025a0   "
}

.lst-kix_mpgz11boyjnk-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_mpgz11boyjnk-8 {
    list-style-type: none
}

ul.lst-kix_mpgz11boyjnk-3 {
    list-style-type: none
}

ul.lst-kix_mpgz11boyjnk-2 {
    list-style-type: none
}

.lst-kix_mpgz11boyjnk-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_mpgz11boyjnk-1 {
    list-style-type: none
}

ul.lst-kix_mpgz11boyjnk-0 {
    list-style-type: none
}

ul.lst-kix_mpgz11boyjnk-7 {
    list-style-type: none
}

.lst-kix_mpgz11boyjnk-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_mpgz11boyjnk-6 {
    list-style-type: none
}

ul.lst-kix_mpgz11boyjnk-5 {
    list-style-type: none
}

ul.lst-kix_mpgz11boyjnk-4 {
    list-style-type: none
}

.lst-kix_ngpuvw2ut5g7-4>li:before {
    content: "\0025cb   "
}

.lst-kix_ngpuvw2ut5g7-5>li:before {
    content: "\0025a0   "
}

.lst-kix_ngpuvw2ut5g7-2>li:before {
    content: "\0025a0   "
}

.lst-kix_ngpuvw2ut5g7-3>li:before {
    content: "\0025cf   "
}

.lst-kix_ngpuvw2ut5g7-6>li:before {
    content: "\0025cf   "
}

.lst-kix_ngpuvw2ut5g7-7>li:before {
    content: "\0025cb   "
}

.lst-kix_3kaf5kkuswwg-0>li:before {
    content: "\0025cf   "
}

.lst-kix_mpgz11boyjnk-7>li:before {
    content: "\0025cb   "
}

.lst-kix_3kaf5kkuswwg-2>li:before {
    content: "\0025a0   "
}

.lst-kix_mpgz11boyjnk-8>li:before {
    content: "\0025a0   "
}

.lst-kix_3kaf5kkuswwg-1>li:before {
    content: "\0025cb   "
}

.lst-kix_3kaf5kkuswwg-4>li:before {
    content: "\0025cb   "
}

.lst-kix_3kaf5kkuswwg-3>li:before {
    content: "\0025cf   "
}

.lst-kix_3kaf5kkuswwg-7>li:before {
    content: "\0025cb   "
}

.lst-kix_ngpuvw2ut5g7-8>li:before {
    content: "\0025a0   "
}

.lst-kix_3kaf5kkuswwg-6>li:before {
    content: "\0025cf   "
}

.lst-kix_3kaf5kkuswwg-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_dyvtpffy2mf0-5 {
    list-style-type: none
}

ul.lst-kix_dyvtpffy2mf0-4 {
    list-style-type: none
}

ul.lst-kix_dyvtpffy2mf0-7 {
    list-style-type: none
}

ul.lst-kix_dyvtpffy2mf0-6 {
    list-style-type: none
}

ul.lst-kix_dyvtpffy2mf0-1 {
    list-style-type: none
}

ul.lst-kix_dyvtpffy2mf0-0 {
    list-style-type: none
}

ul.lst-kix_dyvtpffy2mf0-3 {
    list-style-type: none
}

ul.lst-kix_dyvtpffy2mf0-2 {
    list-style-type: none
}

ul.lst-kix_dyvtpffy2mf0-8 {
    list-style-type: none
}

.lst-kix_ngpuvw2ut5g7-0>li:before {
    content: "\0025cf   "
}

.lst-kix_ngpuvw2ut5g7-1>li:before {
    content: "\0025cb   "
}

.lst-kix_a3x4z9bmtv2g-3>li:before {
    content: "\0025cf   "
}

.lst-kix_a3x4z9bmtv2g-5>li:before {
    content: "\0025cf   "
}

.lst-kix_a3x4z9bmtv2g-4>li:before {
    content: "\0025cf   "
}

.lst-kix_a3x4z9bmtv2g-7>li:before {
    content: "\0025cf   "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_a3x4z9bmtv2g-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_ngpuvw2ut5g7-6 {
    list-style-type: none
}

ul.lst-kix_ngpuvw2ut5g7-7 {
    list-style-type: none
}

ul.lst-kix_ngpuvw2ut5g7-8 {
    list-style-type: none
}

.lst-kix_a3x4z9bmtv2g-8>li:before {
    content: "\0025cf   "
}

ul.lst-kix_ngpuvw2ut5g7-2 {
    list-style-type: none
}

ul.lst-kix_ngpuvw2ut5g7-3 {
    list-style-type: none
}

ul.lst-kix_ngpuvw2ut5g7-4 {
    list-style-type: none
}

ul.lst-kix_ngpuvw2ut5g7-5 {
    list-style-type: none
}

ul.lst-kix_ngpuvw2ut5g7-0 {
    list-style-type: none
}

ul.lst-kix_ngpuvw2ut5g7-1 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c13 {
    border-right-style: solid;
    padding-top: 0pt;
    border-top-width: 0pt;
    border-right-width: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 2.0;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: justify;
    padding-right: 0pt
}

.c5 {
    margin-left: 36pt;
    padding-top: 0pt;
    text-indent: -36pt;
    padding-bottom: 0pt;
    line-height: 2.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c18 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10.5pt;
    font-family: "Arial";
    font-style: normal
}

.c2 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10.5pt;
    font-family: "Times New Roman";
    font-style: italic
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c14 {
    padding-top: 0.1pt;
    padding-bottom: 0pt;
    line-height: 1.1416666666666666;
    orphans: 2;
    widows: 2;
    text-align: left;
    margin-right: 1.4pt
}

.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: italic
}

.c19 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10.5pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c12 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c6 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 2.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c11 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 2.0;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c10 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
    text-decoration-skip-ink: none
}

.c17 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c3 {
    font-size: 12pt;
    font-weight: 400;
    font-family: "Times New Roman"
}

.c16 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c9 {
    color: inherit;
    text-decoration: inherit
}

.c4 {
    padding: 0;
    margin: 0
}

.c15 {
    font-style: italic
}

.c8 {
    text-indent: 36pt
}

.c7 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}